body {
    background-color: aliceblue;
  }
  .container {
    width: 500px;
    align-items: center;
    margin: auto;
    font-family: "Courier New", Courier, monospace;
    background-color: #fff;
    border-radius: 50px;
  }
  
  header {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .header-display {
    display: flex;
    align-items: center;
  }
  
  .header-display p {
    color: rgb(16, 16, 237);
    margin: 5px;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
  }
  
  pre {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 1.8rem;
    color: rgb(25, 25, 201);
  }
  
  .days,
  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px 20px;
    margin: auto;
    padding: 20px 20px;
    justify-content: space-between;
  }
  .week div,
  .days div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }
  .days div:hover {
    border: 2px solid rgb(25, 25, 201);
    border-radius: 10px;
    color: rgb(25, 25, 201);
    cursor: pointer;
  }
  
  .week div {
    opacity: 0.5;
  }
  .current-date {
    background-color: rgb(133, 133, 192);
    border-radius: 100%;
  }
  
  .display-selected {
    margin-bottom: 10px;
    padding: 20px 20px;
    text-align: center;
  }
  